@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import './variables.scss';
*{
  font-family: $font;
}

body {
  background-color: $background;
}

.App {
  .content {
    padding: 15px;
  }
}
