@import './variables.scss';

.YouTubeSearch {
  input {
    width: calc( 100% - 20px );
    font-size: 20px;
    padding: 10px;
  }

  .result {
    margin: 10px 0px;
    background-color: $primary;
    cursor: pointer;

    .info {
      display: inline-block;
      width: calc( 100% - 160px );
      vertical-align: top;
      padding: 0 5px;

      .title {
        font-weight: bold;
        font-size: 20px;
      }
    }

    img {
      width: 150px;
      display: inline-block;
    }
  }
}
